.container-main-home{
    /* margin-bottom: 15vh; */

}

.background-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 70vw;
}

    .header-container-main-home{
        padding: 40px 40px 0 40px;
        top: 0;
        width: 100%;
        height: 40vh;
        background-color: var(--destaque);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--background);
        gap: 20px;
        z-index: 0;
    }

    .text-header-container-main-home{
        text-align: center;
        font-size: 1.2rem;
        word-break: break-all;
    }

    .img-header-container-main-home{
        background-color: var(--rosa-segundario);
        width: 100%;
        height: 40vh;
        border-radius: 25px;
        background-image: url(../../../public/img-header-home.webp);
         background-position: calc(100% - 10%) calc(100% - 10%);
        background-size: cover;
        background-repeat: no-repeat
    
    }

    @media (min-width: 768px) {

        .background-container{
            height: 80vh;

        }

            .header-container-main-home{
            height: 60vh;
        }

        .img-header-container-main-home{

            background-position: calc(100% - 20%) calc(20% - 20%);
            height: 100vh;

        }
    

    }